body {
    font-family: "Times New Roman", Times, serif;
}

#main {
    width: 1200px;
    height: 1000px;
    margin: auto;
}

#head {
    height: 100px;
    border: solid 1px;
    margin-bottom: 10px;
    background-color: lightblue;
}

#head-link {
    height: 50px;
    background-color: chartreuse;
}

#left {
    width: 200px;
    height: 400px;
    float: left;
    background-color: crimson;
}

#content {
    width: 800px;
    height: 400px;
    float: left;
    background-color: darkorchid;
}

#right {
    width: 200px;
    height: 400px;
    float: left;
    background-color: saddlebrown;
}

#main #footer {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border: solid 1px;
    background-color: darkblue;
    clear: both;
}